[submodule ".vim/pack/mypackage/start/indetLine"]
	path = .vim/pack/mypackage/start/indetLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/mypackage/start/lightline"]
	path = .vim/pack/mypackage/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/mypackage/start/neocomplete"]
	path = .vim/pack/mypackage/start/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/pack/mypackage/start/neosnippet-snippets"]
	path = .vim/pack/mypackage/start/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule ".vim/pack/mypackage/start/neosnippet"]
	path = .vim/pack/mypackage/start/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule ".vim/pack/mypackage/start/denite"]
	path = .vim/pack/mypackage/start/denite
	url = https://github.com/Shougo/denite.nvim.git
[submodule ".vim/pack/mypackage/start/nerdtree"]
	path = .vim/pack/mypackage/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/mypackage/start/vim-javascript"]
  path = .vim/pack/mypackage/start/vim-javascript
  url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/mypackage/start/vim-jsx-pretty"]
  path = .vim/pack/mypackage/start/vim-jsx-pretty
  url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule ".vim/pack/mypackage/start/ale"]
	path = .vim/pack/mypackage/start/ale
	url = https://github.com/w0rp/ale.git
