	[submodule ".vim/pack/mypackage/start/indetLine"]
	path = .vim/pack/mypackage/start/indetLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/mypackage/start/lightline"]
	path = .vim/pack/mypackage/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/mypackage/start/denite"]
	path = .vim/pack/mypackage/start/denite
	url = https://github.com/Shougo/denite.nvim.git
[submodule ".vim/pack/mypackage/start/nerdtree"]
	path = .vim/pack/mypackage/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/mypackage/start/vim-javascript"]
  path = .vim/pack/mypackage/start/vim-javascript
  url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/mypackage/start/vim-jsx-pretty"]
  path = .vim/pack/mypackage/start/vim-jsx-pretty
  url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule ".vim/pack/mypackage/start/ale"]
	path = .vim/pack/mypackage/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/mypackage/start/lightline-ale"]
	path = .vim/pack/mypackage/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale.git
[submodule ".vim/pack/mypackage/start/vim-css-color"]
	path = .vim/pack/mypackage/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule ".vim/pack/mypackage/start/vCoolor.vim"]
	path = .vim/pack/mypackage/start/vCoolor.vim
	url = https://github.com/KabbAmine/vCoolor.vim.git
  ignore = dirty
[submodule ".vim/pack/mypackage/start/vim-figitive"]
	path = .vim/pack/mypackage/start/vim-figitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/mypackage/start/gitv"]
	path = .vim/pack/mypackage/start/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule ".vim/pack/mypackage/start/vim-devicons"]
	path = .vim/pack/mypackage/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/pack/mypackage/start/vim-nerdtree-syntax-highlight"]
	path = .vim/pack/mypackage/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule ".vim/pack/mypackage/start/deoplete.nvim"]
	path = .vim/pack/mypackage/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".vim/pack/mypackage/start/nvim-yarp"]
	path = .vim/pack/mypackage/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule ".vim/pack/mypackage/start/vim-hug-neovim-rpc"]
	path = .vim/pack/mypackage/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule ".vim/pack/mypackage/start/LanguageClient-neovim"]
	path = .vim/pack/mypackage/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
  branch = next
[submodule ".vim/pack/mypackage/start/kotlin-vim"]
	path = .vim/pack/mypackage/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".vim/pack/mypackage/start/typescript-vim"]
	path = .vim/pack/mypackage/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/mypackage/start/vim-css3-syntax"]
	path = .vim/pack/mypackage/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/pack/mypackage/start/vim-styled-components"]
	path = .vim/pack/mypackage/start/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components.git
[submodule ".vim/pack/mypackage/start/vim-vue"]
	path = .vim/pack/mypackage/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/pack/mypackage/start/vim-graphql"]
	path = .vim/pack/mypackage/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule ".vim/pack/mypackage/start/vim-closetag"]
	path = .vim/pack/mypackage/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule ".vim/pack/mypackage/start/auto-pairs"]
	path = .vim/pack/mypackage/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
